/* ----- RESET DO CSS ----- */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* ----- PADRONIZAÇÃO DOS LINKS ----- */
a {
    text-decoration: none;
    color: #3C96ED;
}

/* ----- PADRONIZAÇÃO DO CORPO DA APLICAÇÂO ----- */
body {
    background: #FAFAFA;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}